<div class="container">
  <button type="button" class="btn btn-success" style="margin:5px;" (click)="getAllTracks()">Show track list</button>
  <button type="button" class="btn btn-primary" style="margin:5px;" (click)="goToAddTrack()">Add track</button>
  <button type="button" class="btn btn-outline-primary" [routerLink]="['/tracks/find-lyrics']" style="margin:5px;" title="Click to search for lyrics">
    Find lyrics <fa-icon [icon]="icons.searchIcon"></fa-icon>
  </button>
  <br><br>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artist</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracks; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{track.artist}}</td>
        <td>{{track.title}}</td>
        <td>
          <!-- BUTTONS for EDIT, DELETE, LYRICS -->
          <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" style="margin:5px;" title="Click to edit track" 
          (click)="editTrack(track)">
            <fa-icon [icon]="icons.editIcon"></fa-icon>
          </button> 
          <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" style="margin:5px;" title="Click to delete track"
          (click)="openLg(content)">
            <fa-icon [icon]="icons.trashIcon"></fa-icon>
          </button>
          <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" style="margin:5px;" title="Click to show lyrics"
           (click)="openScrollableContent(longContent)">
            <fa-icon [icon]="icons.fileAudioIcon"></fa-icon>
          </button>
          
        </td>
        <!-- MODAL for LYRICS  -->

        <ng-template #longContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{track.artist}} - {{track.title}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" wrap="hard" style="white-space: pre-line">
            <p>{{track.lyrics}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>

        <!-- MODAL for DELETE-->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">
              <p><strong>Are you sure you want to delete track:<br> 
                <span class="text-primary">"{{track.artist}} - {{track.title}}"</span>?
              </strong></p>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><p>All information associated to this track will be permanently deleted.
              <span class="text-danger">This operation can not be undone</span>&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">No, go back</button>
            <button type="button" class="btn btn-danger" (click)="deleteTrack(track); modal.close('Close click');">Yes, delete anyway</button>
          </div>
        </ng-template>

      </tr>
    </tbody>
  </table>

  
  

  


</div>