<p>add-new-track works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="title"> Title: </label>
                        <input required type="text" [(ngModel)]="track.title" name="title" id="title"
                            class="form-control phone" maxlength="28" placeholder="Enter track title" />
                    </div>

                    <div class="form-group">
                        <label for="artist">Artist: </label>
                        <input class="form-control" type="text" [(ngModel)]="track.artist" name="artist" id="artist"
                            placeholder="Enter track artist" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Add song artist" (click)="addTrack()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
