body {
  padding-top: 56px;
}

.cat-logo{
  font-size: 88px;
  color: orange;
}

footer {
  position:relative; 
  bottom: 0;
  width: 100%;
  background-color: #333;
  color:#fff;
}


