<div class="container text-white"> <div style="float: right;">
  <fa-icon [icon]="icons.catIcon" class="fa-10x"></fa-icon>
  </div>
  <div class="jumbotron jumbotron-fluid bg-dark text-white"> 
      
    <div class="container">
      <h1 class="display-4" >Track Deposit </h1> 
      <p class="lead" >This is the place where your favorite songs and lyrics belong...  </p> 
      
      
      
      
      
    </div>
  </div>
  
 <br>
 <br>

 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-dark" style="margin:5px;" (click)="goToAllTrackList()">Go to track list</button>
  </li>
</ul>
 
</div>

<!-- <app-track-list></app-track-list> -->

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
