body {
  padding-top: 56px;
}

.cat-logo{
  font-size: 88px;
  color: orange;
}

footer {
  position:relative;
  bottom:0;
  width: 100%;
  /* position:relative; 
  bottom: 0;
  left:0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color:#fff; */
}


