
<h3 class="text-info">Enter new values to edit track: </h3><br>
<div class="center">
    
<form [formGroup]="trackForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="artist">Artist</label>
      <input type="text" class="form-control" formControlName="artist" id="artist" placeholder="enter the artist">
    </div>
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title" placeholder="enter the title">
    </div>
    <div class="form-group col-md-10">
      <label for="lyrics">Lyrics</label>
      <textarea type="text" class="form-control" formControlName="lyrics" id="lyrics" placeholder="enter the lyrics" rows="3" wrap="hard"></textarea>
    </div>
  </div>


    <button type="submit" class="btn btn-warning" style="margin:5px;" (click)="update(trackForm.value)">
      Save changes
    </button> <button type="button" class="btn btn-dark" style="margin:5px;" [routerLink]="['/tracks']">Back</button>
    <br>
    <!-- <input type="text" class="form-control" formControlName="lyrics" id="lyrics" placeholder="enter the lyrics"> -->

</form>
</div>

<br>



